.avatarheader {
  height: 400px;
  width: 100%;
  background-color: #D79923;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  margin-bottom: 30px;
}

.avatar {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

.name {
  display: flex;
  justify-content: center;
}
