.button-counter {
  
  font-family: 'Bungee';
  justify-content: space-between;
}

.tweet-button {
  background-color: royalblue;
  color: white;
}

#tweet-text {
  width: auto;
  margin: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: inherit;

}

.tweet-form {
    width: 150%;
    display: flex;
    flex-direction: column;
    
}
.article-tweet {
  width: 150%;
  height: 50%;
  border: 2px solid black;
  background-color: #f4f1ec;
  
}
.article-tweet-header {
  width: 100%;
  background-color: #f4f1ec;
}

.footer hr {
  
}

.max-char-limit {           /*char counter error color*/
  color: red;
}

