.button-counter {
  display: flex;
  font-family: 'Bungee';
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tweet-button {
  background-color: royalblue;
  color: white;
  border: none;
  font-size: 20px;
  width: 90px;
  height: 35px;
  font-size: 20px;
}

.tweet-button:hover {
  border: 3px solid #a6c0ff;
  border-radius: 2px;
  transition: 0.3;
 
}

#tweet-text {
  width: auto;
  margin: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: inherit;
  resize: none;

}

.new-tweet {
  width: 100%
}

.tweet-form {
 
    width: 100%;
    display: flex;
    flex-direction: column;
}
.article-tweet {
  margin-top: 10px;
  width: 100%;
  height: 50%;
  border: 4px solid  #545149;;
  background-color: #f4f1ec;
  padding: 15px;
}

.article-tweet:hover {
  box-shadow: 10px 10px 8px -10px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.article-tweet-header {
  width: 100%;
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
}

.article-tweet-paragraph {
  word-wrap: break-word;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-user-handle {
  color:#40987a;
}


.twitter-footer {
  display: flex;
  border-top: solid;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}
.tweet-symbols {
  color: royalblue;
  cursor: pointer;
}

.max-char-limit {           /*char counter error color*/
  color: red;
}

.tweet-symbols {
  display: flex;
  gap: 6px;
  font-size: 20px;
  margin-top: 8px;
}

.tweet-date {
  font-size: 18px;
  margin-top: 8px;
}

.flag:hover {
  color: burlywood;
  
}
.retweet:hover {
  color: burlywood;
}
.heart:hover {
  color: burlywood;
}

#tweets-container {
  width: 100%;
}